$red: #bf0100;
$white: #fafafa;
$blue: #006fdd;
$lightBlue: #aed6ff;
$navyBlue: #0055aa;
$lightGray: #f0f0f0;
$darkGray: #aeaeae;
$darkerGray: #646464;
$spacing: 6px;
$fieldPadding: 4px;
$borderRadius: 4px;
$hoverOpacity: 0.9;
$breakpointMobile: 550px;
$breakpointTablet: 768px;
$breakpointDesktop: 1280px;

.field-container {
  max-width: 90%;
  position: relative;
  margin: 12px;
  margin-right: auto;
}

@media (max-width: $breakpointMobile) {
  .field-container {
    width: 100%;
  }
}

.label-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
}

input:focus {
  outline: none;
  box-shadow: 0 0 2px 4px $lightBlue;
}

.error-speech-bubble {
  position: relative;
  max-width: 30em;
  color: $white;
  background-color: $red;
  padding: $fieldPadding;
  font-size: 0.775rem;
  border-radius: $borderRadius;
}

.error-speech-bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 1.5em;
  border: 0.25rem solid transparent;
  border-top: none;
  border-bottom-color: $red;
}
